<h1>Hello world</h1>
<nav>
    <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/templateform" routerLinkActive="active">Template driven form</a></li>
        <li><a routerLink="/reactiveform" routerLinkActive="active">Reactive form</a></li>
        <li><a routerLink="/getdata" routerLinkActive="active">Get data</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>